.oc-header {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 50px;
  /* justify-content: space-between; */
}

.oc-user-menu {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}
.oc-user-menu-dropdown {
  transition: background 0.2s;
  cursor: pointer;
  border: none;
  background: transparent;
}
.oc-user-menu-dropdown .oc-avatar {
  transition: transform 0.1s ease-in-out;
}
.oc-user-menu-dropdown .oc-avatar:hover,
.oc-user-menu-dropdown .oc-avatar:active {
  transform: scale(1.1);
}

.oc-breadcrumb {
  display: none;
}

.oc-previous-page-btn {
  margin: 0 1rem;
}
@media screen and (min-width: 768px) {
  .oc-breadcrumb {
    display: flex;
  }
  .oc-user-menu {
    margin-right: 1rem;
  }
}
