.oc-course-student{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.oc-course-student-section{
    display: flex;
}
.oc-new-student-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
}