.oc-course-student {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.oc-course-student-section {
  display: flex;
}
.oc-student-new-block {
  display: flex;
  flex-direction: column;
  background-color: #eee;
  padding: 1rem;
  width: 80%;
  height: 60%;
}
