.oc-lesson-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
/* .oc-lesson-page section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  border-radius: 0.5rem;
  background-color: #eee;
  padding: 0.5rem 1rem;
  width: 90%;
}
.oc-lesson-info {
  flex: 1;
  margin: 1rem;
  border-radius: 5px;
  background-color: #fec252;
  padding: 1rem;
  height: auto;
  text-align: start;
}
.oc-lesson-attendance-code {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.oc-lesson-attendance-code-text {
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  .oc-lesson-page section {
    flex-direction: row;
  }
} */
