.oc-lesson-dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.oc-lesson-dashboard section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  background-color: #eee;
  padding: 0.5rem;
  width: 90%;
}
/* .oc-lesson-info{
    height: auto;
    margin: 1rem;
    padding: 1rem;
    background-color: #fec252;
    border-radius: 5px;
    flex: 1;
    text-align: start;
} */
.oc-lesson-attendance-code {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.oc-lesson-attendance-code-text {
  font-size: 2rem;
}
