.oc-user-center-dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.oc-user-center-dashboard section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.oc-user-pwd-change {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  background: linear-gradient(180deg, #f4f4f4 0%, #ffffff 100%);
  padding: 1rem;
  width: 80%;
}
.oc-user-pwd-change-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.oc-user-pwd-change-form .form-item {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
  width: 90%;
  min-width: 250px;
}
@media screen and (min-width: 768px) {
  .oc-user-pwd-change {
    width: 60%;
  }
  .oc-user-pwd-change-form .form-item {
    width: 70%;
  }
}
