.oc-course-new {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.oc-course-new-form {
  background: #f1f1f1;
  padding: 1rem;
}
.oc-course-new-form-item {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}
