.oc-user-info-list{
    display: flex;
    flex-direction: column;
    text-align: left;
    border-radius: 1rem;
    background: #eee;
    padding: 1rem;
}

.oc-user-info-list li{
    width: 80%;
    min-width: 100px;
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
}