.oc-course-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.oc-lesson-table {
  width: 100%;
}
.oc-lesson-content {
  /* width: 60%; */
}
.oc-lesson-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.oc-lesson-control-btns button {
  margin: 0 0.5rem;
}
.oc-lesson-mode-switch {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.oc-lesson-calendar {
  width: 100%;
}

.oc-new-lesson-block {
  display: flex;
  position: fixed;
  top: 0;
  left: 16vw;
  justify-content: center;
  align-items: center;
  z-index: var(--oc-z-index-screen-mark);
  background: rgba(0, 0, 0, 0.6);
  width: 84vw;
  height: 100%;
}
.oc-new-lesson-block-form {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background: #fff;
  padding: 1rem;
  width: 50vw;
}
.oc-new-lesson-block-form-item {
  margin: 1rem;
  width: 80%;
  text-align: left;
}

.oc-new-lesson-block .close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
/*   oc-lesson-block */
.oc-lesson-block {
  display: flex;
  position: fixed;
  top: 0;
  left: 16vw;
  justify-content: center;
  align-items: center;
  z-index: var(--oc-z-index-screen-mark);
  background: rgba(0, 0, 0, 0.6);
  width: 84vw;
  height: 100%;
}
.oc-lesson-block-body {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background: #fff;
  padding: 1rem;
  width: 50vw;
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
@media screen and (min-width: 768px) {
  .oc-course-page {
    /* flex-direction: row; */
  }
  /* .oc-new-lesson-block-form{
        width: 50vw;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #fff;
        position: relative;
    } */
}
