.oc-user-new-block {
  /* display: flex;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: var(--oc-z-index-screen-mark);
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%; */
}
.oc-user-new-batch-block {
}
.oc-user-new-form {
  background: #f8f8f8;
  padding: 1rem;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}
.oc-user-new-batch-form {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background: #fff;
  padding: 1rem;
  width: 70vw;
}
/* .oc-user-new-form-item {
  display: flex;
  position: relative;
  justify-content: space-between;
  background: #fff;
  width: 100%;
} */
.curr-user-row {
  background-color: rgba(254, 243, 199, 0.35) !important;
}

.curr-user-row:hover > td {
  background-color: rgba(254, 243, 199, 0.5) !important;
}
