.oc-lesson-attendance {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
}

.oc-lesson-attendance-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.oc-lesson-attendance-info-section {
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.oc-lesson-attendance-table-section {
  width: 100%;
  box-sizing: border-box;
  flex: 1;
}

@media screen and (min-width: 768px) {
  .oc-lesson-attendance-content {
    flex-direction: row;
    align-items: flex-start;
  }
  
  .oc-lesson-attendance-info-section {
    width: 340px;
    flex-shrink: 0;
  }
}
