.oc-message-dashboard {
  width: 100%;
}
.oc-message-dashboard section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.oc-message-table {
  width: 100%;
}
.oc-message-row {
  cursor: pointer;
}
.oc-message-row:hover {
  box-shadow:
    0px 10px 10px rgba(0, 0, 0, 0.1),
    0px -5px 10px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 768px) {
  .oc-message-table {
    width: 80%;
  }
}
