.oc-course-dashboard {
  display: flex;
  flex-direction: column;

  align-items: center;
  width: 100%;
}
.oc-course-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
  background-color: #eee;
  padding: 0.5rem;
}
.oc-course-controller {
  display: flex;
  justify-content: end;
}
